<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seniorproject.sauclubmanager" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/s_a_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Seniorproj" >

        <activity

            android:name=".LoginScreen"
            android:label="@string/title_activity_login_screen"
            >
            <!--android:windowSoftInputMode="adjustResize|stateVisible"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name = ".HomeActivity"
                  android:label="My Dashboard"/>
        <activity android:name=".DashboardActivity"/>
        <activity android:name = ".clubs"
                  android:label="Clubs"
                  android:icon="@drawable/title_home_default"/>
        <activity android:name=".user_profile"
                  android:label="My Profile"
                  android:icon="@drawable/title_home_default"/>
        <activity android:name=".myfeed"
                  android:label="My Feed"
                  android:icon="@drawable/title_home_default"/>
        <activity android:name=".myevents"
                  android:label="My Events"
                  android:icon="@drawable/title_home_default"/>
        <activity android:name=".sa"
                  android:label="Student Association"
                  android:icon="@drawable/title_home_default"/>
        <activity android:name=".sa_senate_"
                  android:label="S. A. Senate"
                  android:icon="@drawable/title_home_default"/>
        <activity
                  android:name=".reg_login"
                  android:label="@string/reg_text" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />\
</manifest>
    <!--android:name=".LoginScreen"
               android:label="@string/title_activity_login_screen"-->