<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seniorproject.sauclubmanager" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/s_a_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".LoginScreen"
            android:label="@string/title_activity_login_screen"
            >
            <!--android:windowSoftInputMode="adjustResize|stateVisible"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name = ".HomeActivity"/>
        <activity android:name=".DashboardActivity"/>
        <activity android:name=".user_profile"/>
        <activity android:name=".myfeed"/>
        <activity android:name=".myevents"/>
        <activity android:name=".clubs"/>
        <activity android:name=".sa"/>
        <activity android:name=".sa_senate_"/>

        <activity
            android:name=".reg_login_frag"
            android:label="@string/reg_text" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />\
</manifest>
