<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seniorproject.sauclubmanager" >

    <!-- Providing access to certain permissions required for app to run -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <permission android:protectionLevel="signature"
        android:name="com.seniorproject.sauclubmanager.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.seniorproject.sauclubmanager.permission.C2D_MESSAGE" />
    <!-- app name and icon gets set here -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/s_a_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Seniorproj"
        android:name=".myApplication">

        <activity
            android:name=".com.seniorproject.utilities.DispatchActivity"
            android:label="SAU Clubs"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.parse.ui.ParseLoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Base">
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true"/>

            <!-- Added these options below to customize the login flow -->
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.APP_LOGO"
                android:resource="@drawable/s_a_icon"/>
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_ENABLED"
                android:value="false"/>
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.TWITTER_LOGIN_ENABLED"
                android:value="false"/>
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME"
                android:value="true"/>
        </activity>

        <!--  ADDED TO RECOGNIZE DIFFERENT ACTIVITIES BEING CALLED -->
        <activity android:name = ".HomeActivity"
                  android:label="My Dashboard"/>
        <activity android:name = ".unAuthHomeActivity"
            android:label="My Dashboard"/>
        <activity android:name=".DashboardActivity"/>
        <activity android:name = ".clubs"
                  android:label="Clubs"
                  android:icon="@drawable/title_home_default"/>
        <activity android:name=".user_profile"
                  android:label="My Profile"
                  android:icon="@drawable/title_home_default"/>
        <activity android:name=".myfeed"
                  android:label="My Feed"
                  android:icon="@drawable/title_home_default"/>
        <activity android:name=".myevents"
                  android:label="My Events"
                  android:icon="@drawable/title_home_default"/>
        <activity android:name=".sa"
                  android:label="Student Association"
                  android:icon="@drawable/title_home_default"/>
        <activity android:name=".sa_senate_"
                  android:label="S. A. Senate"
                  android:icon="@drawable/title_home_default"/>
        <activity android:name=".ClubActivity"
                  android:label="S. A. Clubs"
                  android:icon="@drawable/title_home_default"/>
        <activity android:name=".settings"
                  android:label="Settings"
                  android:icon="@drawable/title_home_default"/>

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.seniorproject.sauclubmanager" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.seniorproject.sauclubmanager.com.seniorproject.utilities.Receiver" android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
